<!DOCTYPE html>
<html>
<head>
  <title>RjcropCarrierwave</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.5.1.min', 'rails' %>
  <%= yield :headers %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
